build/
.cache/
assets/ # resources.qrc and the images
linux-release/AppData/
windows-release/AppData/

compile_commands.json
INFO.txt # Context file for switching agents/chats/models when using ai
